@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-50);
    -webkit-font-smoothing: antialiased;
  }
}
